html,body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: rgb(151, 16, 43);
    height: 80px;
}

.isi-footer {
    color: white;
    margin: 0;
    text-align: center;
    line-height: 80px;
}