.container_geogrid {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    font-size: 70px;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}

img {
    width: 100%;
    height: 400px;
}

.container2_geogrid {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.judul_geogrid {
    font-size: 24px;
    font-weight: bold;
    color: rgb(151, 16, 43);
}

.text_geogrid {
    color: rgb(80, 79, 79);
    font-size: 17px;
    text-align: justify;
}

.kotak_georid {
    display: flex;
    margin-top: 50px;
}

.gambar_georid {
    width: 30%;
    height: 250px;
    border-radius: 10px;
}

.card_geogrid {
    width: 70%;
    margin-left: 20px;
}

.text_geogrid2 {
    color: rgb(80, 79, 79);
    font-size: 17px;
}