html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.con_kontak {
    position: relative;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.text_tengah{
    position: absolute;
    font-size: 70px;
    color: white;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.atas {
    width: 100%;
    box-sizing: border-box;
}
.atas img {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.parent_kontak {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}


.bawah {
    width: 40%;
}

.bawah img {
    width: 40%;
    box-sizing: border-box;
}

.isi {
    width: 30%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

textarea {
    height: 100px;
}

