body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: whitesmoke;
}

.navbar{
	background: rgb(151, 16, 43);
	margin: 0;
	padding: 20px 30px;
    text-align: center;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu{
	margin: 0;
	display: flex;
	list-style: none;
	padding: 0;
}

.menu li{
	padding-left: 0;
	margin-right: 10px;
}

.menu li a{
	padding:10px;
	color: white;
	text-decoration: none;
	display: inline-block;
}